/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License
*/

body {
    margin: 0;
    padding: 0;
    background: #2E550E url(main-wrapper.png) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

strong {
    color: #60B61A;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    color: #2B2522;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: underline;
    color: #60B61A;
}

a:hover {
    text-decoration: none;
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}

/* Header */

#header-wrapper {
    height: 120px;
}

#header {
    width: 1000px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}

/* Logo */

#logo {
    float: left;
    width: 350px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
    margin-left: 30px;
    padding: 20px 0px 0px 0px;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-size: 3.8em;
    font-weight: bold;
    color: #FFFFFF;
}

#logo h1 a {
    color: #FFFFFF;
}

#logo h1 span {
}

#logo p {
    margin: 0;
    padding: 0px 0 0 32px;
    font: normal 14px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #FFFFFF;
} 

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FFFFFF;
}

#logo img {
    padding-left: 32px;
    padding-top: 32px;
    width: auto;
    height: 120px;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 10px 0 0 0px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    height: 19px;
    padding: 4px 5px 1px 5px;
    border: none;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 26px;
    border: none;
    background: #2E550E;
    color: #FFFFFF;
}

/* Menu */

#menu {
    float: right;
    height: 125px;
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    height: 80px;
    padding: 45px 25px 0px 25px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    font-weight: normal;
    color: #FFFFFF;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#page {
    width: 980px;
    margin: 0 auto;
    padding: 0px 0px 0px 20px;
}

#page-bgtop {
    padding: 20px 0px;
}
/* Content */

#content {
    float: right;
    width: 600px;
    padding: 40px 0px 0px 0px;
}

.post {
    margin-bottom: 30px;
    padding: 30px 20px 20px 20px;
    background: rgba(0,0,0,.3);
    box-shadow: #437D14;
    outline: 1px dashed #437D14;
    outline-offset: -5px;
}

.post .title {
    padding: 0px 0px 0px 0px;
    letter-spacing: -1px;
    font-family: 'Abel', sans-serif;
    color: #60B61A;
}

.post .title a {
    text-decoration: none;
    color: #60B61A;
    border: none;
}

.post .entry {
    padding: 20px 30px 20px 30px;
    padding-bottom: 20px;
    text-align: justify;
}

.post .byline {
    clear: both;
    overflow: hidden;
    padding-bottom: 20px;
}

.post .meta {
    float: left;
}

.post .links {
    float: right;
}

.post textarea {
    height: 100px;
    resize: vertical;
}

.links a {
}

/* Sidebar */

#sidebar {
    float: left;
    width: 300px;
    margin: 0px;
    padding: 20px 20px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px dashed #132404;
    background: url(img01.jpg) no-repeat left 15px; 
    margin: 0px 20px 0px 20px;
    border-left: none;
    text-align: left;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0px 0px 0px 15px;
}

#sidebar h2 {
    height: 31px;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 0px 20px;
    background: url(img03.jpg) no-repeat left top;
    text-shadow: #203060 -1px 1px 2px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -.5px;
    font-size: 2em;
    color: #FFFFFF;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 20px 20px 20px;
    text-align: justify;
    color: #FFFFFF;
}

#sidebar a {
    border: none;
    color: #FFFFFF;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

#sidebar input {
    width: auto;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    width: 980px;
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    line-height: normal;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #A8FF5C;
}

#footer a {
    color: #A8FF5C;
}

/* Forms */
.submit {
    float: right;
    height: 26px;
    border: none;
    background: #6e9e2d;
    color: #FFFFFF;
    cursor: pointer; 
}

.input-file {
border: 1px solid #777777; 
background: #6e9e2d; 
color: white; 
font: bold 11px 'Trebuchet MS'; 
padding: 4px; 
cursor: pointer; 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px;
}


/* The flash */

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

.errorExplanation {
  /* width: 450px;*/ 
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  font-size: 1em;
  /* background-color: #f0f0f0;*/ 
  
}

.errorExplanation h2 {    
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
}
.errorExplanation ul li {
    font-size: 12px;
    list-style: square; 
} 

.alert {
  overflow: hidden;
  z-index: 999;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(161,195,0);
  background-color: rgba(161,195,0,.8);
  //height: 0;
  color: #fff;
  //padding: 9px 0;
  text-shadow: rgba(99,130,0,.75) 1px 1px 1px;
  font-size: 21px;
  
}

.alert-notice {
    background-color: #99FF00;
}

.alert-error {
    background-color: #800;
}

.alert-warning {
    background-color: #FFCC00;
}
